@import url('//at.alicdn.com/t/font_737695_zeedmo3fl9.css');
.first-slide {
  display: flex;
  display: -webkit-flex;
  width: 15%;
  flex-direction: column;
  background: #fff;
  float: left;
  height: 100%;
  min-width: 200px;
  border-right: 1px #eee solid;
  min-height: 600px;
}
.new-note {
  padding: 10px;
  height: 50px;
  line-height: 35px;
  background: #79A9FC;
  color: #fff;
  font-size: 1.6rem;
}
.new-note:hover {
  background: #5792f7;
}
.add-icon {
  margin-right: 10px;
}
.class-note {
  margin-bottom: 5px;
}
.slide-item {
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}
.slide-item:hover {
  font-weight: bold;
}
.show-icon {
  margin-right: 8px;
}
.item-icon {
  font-size: 2rem;
}
.item-title {
  font-size: 1.4rem;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub-item {
  padding-left: 15%;
}
.final-item {
  padding-left: 28%;
}
.final-item:hover {
  font-weight: bold;
}
.active {
  font-weight: bold;
  background: #79A9FC;
  color: white;
}
.show {
  display: inline-block;
  width: 100%;
}
.hide-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.final-show {
  display: flex;
  display: -webkit-flex;
  width: 100%;
}
.hide {
  display: none;
}
