@import url('//at.alicdn.com/t/font_737695_zeedmo3fl9.css');

@basic-color: #a3c3f1;
@emphy-color: #5792f7;
@slide-color: #eee;
@new-note-color: #79A9FC;
@white: #fff;
@border-color: #eee;

@font-size: 1.4rem;

.flex(){
    display: flex;
    display: -webkit-flex;
}

.hideText() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}