.image-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
}

.image-image {
  max-width: 70%;
  max-height: 70%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.image-canvas {
  position: absolute;
}

.image-button {
  cursor: pointer;
  position: absolute;
  z-index: 11;
  bottom: 15px;
  left: 50%;
  background-color: #21242a;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  height: 36px;
  line-height: 36px;
  color: #BBB;
  margin-left: -42px;
}

.image-button div {
  display: inline-block;
  padding: 0 .5em;
}

.image-button div:hover {
  color: #FFF;
}

.hide-button {
  display: none;
}