@import url('//at.alicdn.com/t/font_737695_zeedmo3fl9.css');
.operation-container {
  display: flex;
}
.operation-container .left-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
}
.operation-container .left-container .category {
  background-color: #79A9FC;
  width: 210px;
  height: 50px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}
.operation-container .left-container .item {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  width: 210px;
  position: relative;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.operation-container .left-container .item .icon-shanchu {
  visibility: hidden;
}
.operation-container .left-container .item .time {
  top: 20px;
  left: 50px;
  height: 10px;
  font-size: 12px;
}
.operation-container .left-container .item .star-icon {
  width: 20px;
}
.operation-container .left-container .item:hover {
  background-color: #C2D6F3;
  font-weight: bold;
  color: white;
}
.operation-container .left-container .item:hover .icon-shanchu {
  visibility: visible;
}
.operation-container .left-container .button-list {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  margin-top: 15px;
}
.operation-container .left-container .selected {
  font-weight: bold;
}
.operation-container .left-container .content {
  display: inline-block;
  white-space: nowrap;
  width: 132px;
}
.operation-container .left-container .operation {
  padding: 10px;
  margin-top: 10px;
}
.operation-container .left-container .react-contextmenu--visible {
  background: #eee;
  border: 1px solid #eee;
  padding: 8px;
  position: relative;
  border-radius: 5px;
}
.operation-container .left-container .react-contextmenu--visible:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  top: -21px;
}
.operation-container .left-container .react-contextmenu-item:hover {
  font-weight: bold;
}
.operation-container .left-container .ant-radio-wrapper {
  display: block !important;
}
