.operation-container {
  @width: 210px;
  @height: 50px;
  @bgcolor: #efefef;
  @hover: red;
  display: flex;
  .left-container {
    display: flex;
    flex-direction: column;
    .category {
      background-color: @bgcolor;
      width: @width;
      height: @height;
      text-align: center;
      line-height: @height;
    }
    .item {
      width: @width;
      height: @height;
      text-align: center;
      line-height: @height;
      cursor: pointer;
      .icon-shanchu {
        visibility: hidden;
      }
      &:hover {
        background-color: @bgcolor;
        color: @hover;
        .icon-shanchu {
          visibility: visible;
        }
      }
    }
    .button-list {
      display: flex;
      justify-content: space-around;
    }
    .selected {
      color: @hover;
    }
    .content {
      display: inline-block;
      white-space: nowrap;
    }
  }
}
