@import url("../../assets/variable.less");
.operation-container {
  @width: 210px;
  @height: 60px;
  @bgcolor: #efefef;
  @hover: red;
  display: flex;
  .left-container {
    display: flex;
    flex-direction: column;
    .category {
      background-color: @bgcolor;
      width: @width;
      height: @height;
      text-align: center;
      font-size: @font-size + 0.2;
      font-weight: bold;
      line-height: @height;
      .hideText;
    }
    .item {
      .flex;
      justify-content: space-between;
      width: @width;
      height: @height;
      // text-align: center;
      position: relative;
      align-items: center;
      padding: 10px;
      line-height: @height;
      cursor: pointer;
      .icon-shanchu {
        visibility: hidden;
      }
      .time {
        position: absolute;
        top: 20px;
        left: 50px;
        height: 10px;
        font-size: 12px;
      }
      .star-icon {
        width: 20px;
      }
      &:hover {
        background-color: @bgcolor;
        font-weight: bold;
        // color: @hover;
        .icon-shanchu {
          visibility: visible;
        }
      }
    }
    .button-list {
      .flex;
      justify-content: space-around;
      margin-top: 15px;
    }
    .selected {
      // color: @hover;
      font-weight: bold;
    }
    .content {
      display: inline-block;
      white-space: nowrap;
      width: 132px;
    }
    .operation {
      padding: 10px;
    }
    .react-contextmenu--visible{
      background: @slide-color;
      border: 1px solid @slide-color;
      padding: 8px;
      position: relative;
      border-radius: 5px;
      &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent @slide-color transparent;
        top: -21px;
      }
    }
    .react-contextmenu-item:hover{
      font-weight: bold;
    }
    .ant-radio-wrapper{
      display: block !important;
    }
  }
}
